bntNotClick{
    color: #fff;
    background-color: #ffc107;
    border-color: #007bff;
}
bntClick{
    color: #fff;
    background-color: #007bff;
    border-color: #ffc107;
}
#om-options a:hover{
    color : white ;
    background-color: #007bff;
    text-decoration: none ;
}
myBtnMenu {
    color: #fff;
    background-color: maroon;
    border-color: maroon;
}
#om-options a:focus{
    color : white ;
    background-color: #007bff;
    text-decoration: none ;
}



