<p></p>
<div class="container col-12"  style="margin: 0%;padding: 0%">
    <div class="panel panel-info">
        <div class="panel panel-heading"></div>
        <div class="panel panel-body">
          <tabset class="nav-tabs" style="text-align: center;background-color: #041532;">
            <tab class="alert alert-info" style="height: 47rem;">
              <ng-template tabHeading >
                <span class="badge badge-light" style="font-size: 150%">Accueil</span>
              </ng-template>
              <div class="row" style="margin-top:1rem">
                <div class="col-2">
                  <span class="badge badge-info" (click)="soumettreClieck()" style="font-size: 110%;cursor: pointer;">Soumettre une liste</span>
                </div>
                <div class="col-4" *ngIf="soumettre == 1">
                  <input  class="form-control" style="border: transparent;background-color: #d1ecf1;" type="file"  (change)="fileChange($event)" placeholder="Uploader Image" accept=".xlsx,.xls">
                </div>
                <div class="col-6" style="text-align: left" *ngIf="soumettre == 1">
                  <button class="col-3" type="submit" (click)="soumission()"  class="btn btn-success ">valider</button>
                </div>
              </div>
              <div *ngIf="liste==1">
                <button class="btn btn-info" (click)="openModal(template)">Voir la liste</button>
              </div>
              <div  id="chart" class="col-12" >
                <div  style=" width: 650px; height: 400px; text-align: center;padding:0%;margin-left: 20%">
                  <canvas  id="myChart" width="400" height="400"></canvas>
                </div>
              </div> 
            </tab>
            <tab >
              <ng-template tabHeading>
                  <span class="badge badge-light" style="font-size: 150%">Suivi</span>
              </ng-template>
              <div id="om-options" style="margin-top: 1rem">
                  <a href="#tab" class="btn myBtnMenu " (click)="tabRecouvrement()" style="margin-left: 8px;border-radius: 1rem 0rem 1rem 1rem;"  data-toggle="tab">Recouvrement</a>
                  <a href="#tab" class="btn myBtnMenu " (click)="tabRendezVous()" style="margin-left: 8px;border-radius: 1rem 0rem 1rem 1rem;"  data-toggle="tab">Rendez-vous</a>
                  <a href="#tab" class="btn  myBtnMenu " (click)="tabFinaliser()" style="margin-left: 8px;border-radius: 1rem 0rem 1rem 1rem;"  data-toggle="tab">Finalisés</a>
                  <input type="text" style="width: 15%;border: 1px solid;margin-left: 3%;padding-left: 13px;" placeholder="Recherche ..." [(ngModel)]="filtre" name="filtre" id="">
              </div>
              <div  id="tab">
                  <table class="table"  style="margin-top:1rem">
                      <thead class="thead-dark">
                      <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Montant</th>
                        <th scope="col">Date</th>
                      </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let l of listRecouvremet ; let i=index">
                        <td ><strong>{{getInfo1(l.client,'prenom')}} {{getInfo1(l.client,'nom')}} </strong></td>
                        <td ><strong>{{getInfo1(l.client,'montant')}}</strong></td>
                        <td ><strong>{{l.dateEnregistremet}}</strong></td>
                    </tbody>
                  </table>
              </div>
            </tab>
          </tabset>
        </div>
        
        <ng-template #template>
            <div class="modal-header">
              <h4 class="modal-title pull-left">Gestion remonte</h4>
              <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <table class="table table-responsive table-striped">
                <thead>
                    <tr>
                        <th >Nom</th>
                        <th >Montant</th>
                        <th >Date</th>
                    </tr>
                </thead>
                <tbody>
                    
                  <tr *ngFor="let l of Recouvrement | filterBy: ['client','montant','date']: filtre; let i=index">
                    <td >{{l.client}}</td>
                    <td >{{l.montant}}</td>
                    <td >{{l.date}}</td>
                    </tr>
                  </tbody>
                </table>
            </div>
          </ng-template>
    </div>
</div>