<p></p>
<div class="container col-12" style="background-color: whitesmoke" >
    <div class="panel panel-info">
        <div class="panel panel-heading"></div>
        <div class="panel panel-body">
          <nav class="nav nav-tabs myNav" style="background-color: white;margin-top:-1rem">
              <a class="nav-item nav-link active" style="border-radius: 1rem 0rem 1rem 1rem;" href="#accueil" data-toggle="tab">
                <span class="badge myBadge" style="font-size: 150%;margin-left: 8px;border-radius: 1rem 0rem 1rem 1rem;"><i class="fa fa-home" style="font-size:24px"></i>
                  Accueil</span>
              </a>
              <a class="nav-item nav-link" href="#suivi" data-toggle="tab" style="border-radius: 1rem 0rem 1rem 1rem;">
                <span class="badge myBadge" (click)="hideNotif()" style="font-size: 150%;margin-left: 8px;border-radius: 1rem 0rem 1rem 1rem;">Suivi</span>
                <span *ngIf="newNotif > 0" (click)="hideNotif()" class="dot" style="position: absolute;text-align: center;border: 1px solid white ;box-shadow: 1px 2px 4px rgba(0, 0, 0, .5)">{{newNotif}}</span>
              </a>
            </nav>
            <div class="tab-content">
                <div class="tab-pane active" id="accueil">
                  <label for="file" class="label-file" style="font-size: 25px">Soumettre une liste</label>
                  <label style="margin-left:1rem;font-size: 18px">{{fileName}}</label>
                  <input id="file" class="input-file" type="file"  (change)="fileChange($event)" placeholder="Uploader Image" accept=".xlsx,.xls">
                  <div class="row">
                    <div class="col-8">
                        <div  id="chart" class="col-12" style=" margin-top: 1rem; " >
                          <div  style=" width: 600px; height: 600px; text-align: center;padding:0%;margin-left: 20%;box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);background-color: white;margin-left: 2rem;">
                            <canvas  id="myChart" width="400" height="400" ></canvas>
                          </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div  style=" margin-top: 1rem; ">
                            <div  >
                              <div class="card card-stats" style="box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);background-color: #A52A2A">
                                <div class="card-body">
                                  <div class="row">
                                    <div class="col-6">
                                      <div class="numbers">
                                        <p class="card-category" style="color: white">Recouvrement</p>
                                        <h2 class="card-title" style="color: white">{{nbRecouvrement}}</h2>
                                      </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="icon-big text-center">
                                           <div class="icon-warning">
                                            <i (click)="tabRecouvrement();openModal(template)" class="fa fa-list-alt" style="color: white;font-size: 62px"></i> <p (click)="tabRecouvrement();openModal(template)" style="color: white;cursor: pointer;">voir la liste</p> 
                                           </div> 
                                        </div>
                                      </div>
                                  </div>
                                  <div class="card-footer" style="background-color: white">
                                    <div class="stats" >
                                      <i class="fa fa-refresh"></i>
                                      Update now
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div style="margin-top: 1rem;" >
                              <div class="card card-stats" style="box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);background-color: #007bff">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-6">
                                          <div class="numbers">
                                            <p class="card-category" style="color: white">Rendez-vous</p>
                                            <h2 class="card-title" style="color: white">{{nbRV}}</h2>
                                          </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="icon-big text-center">
                                               <div class="icon-warning">
                                                <i (click)="tabRendezVous();openModal(template)" class="fa fa-list-alt" style="color: white;font-size: 62px"></i> <p (click)="tabRendezVous();openModal(template)" style="color: white;cursor: pointer;">voir la liste</p> 
                                               </div> 
                                            </div>
                                          </div>
                                    </div>
                                  <div class="card-footer" style="background-color: white">
                                      <div class="stats" >
                                        <i class="fa fa-refresh"></i>
                                        Update now
                                      </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                            <div  style="margin-top: 1rem;">
                                <div class="card card-stats" style="box-shadow: 1px 2px 4px rgba(250, 36, 36, 0.5);background-color: #FF8C00">
                                  <div class="card-body">
                                      <div class="row">
                                          <div class="col-6">
                                            <div class="numbers">
                                              <p class="card-category" style="color: white">Finalisés</p>
                                              <h2 class="card-title" style="color: white">{{nbFinalaliser}}</h2>
                                            </div>
                                          </div>
                                          <div class="col-6">
                                            <div class="icon-big text-center">
                                              <div class="icon-warning" >
                                                <i (click)="tabFinaliser();openModal(template)" class="fa fa-list-alt" style="color: white;font-size: 62px"></i> <p (click)="tabFinaliser();openModal(template)" style="color: white;cursor: pointer;">voir la liste</p> 
                                              </div> 
                                            </div>
                                          </div>
                                      </div>
                                      <div class="card-footer" style="background-color: white">
                                        <div class="stats" >
                                          <i class="fa fa-refresh"></i>
                                          Update now
                                        </div>
                                      </div>
                                  </div>
                                </div>
                              </div>
                         </div>
    
                    </div>
                  </div>
                   <!-- <div class="row" style="margin-top:1rem">
                        <div class="col-2">
                          <span class="badge badge-success" (click)="soumettreClieck()" style="font-size: 110%;cursor: pointer;">Soumettre une liste</span>
                        </div>
                        <div class="col-4" *ngIf="soumettre == 1">
                          <input  class="form-control" style="border: transparent" type="file"  (change)="fileChange($event)" placeholder="Uploader Image" accept=".xlsx,.xls">
                        </div>
                        <div class="col-6" style="text-align: left" *ngIf="soumettre == 1">
                          <button class="col-3" type="submit" (click)="soumission()"  class="btn btn-warning ">Fermer</button>
                        </div>
                      </div>-->

                     
                </div>
                <div class="tab-pane" id="suivi">
                    <div id="om-options" style="margin-top: 1rem">
                        <a href="#tab" class="btn myBtnMenu " (click)="tabRecouvrement()" style="margin-left: 8px;border-radius: 1rem 0rem 1rem 1rem;"  data-toggle="tab">Recouvrement</a>
                        <a href="#tab" class="btn myBtnMenu " (click)="tabRendezVous()" style="margin-left: 8px;border-radius: 1rem 0rem 1rem 1rem;"  data-toggle="tab">Rendez-vous</a>
                        <a href="#tab" class="btn  myBtnMenu " (click)="tabFinaliser()" style="margin-left: 8px;border-radius: 1rem 0rem 1rem 1rem;"  data-toggle="tab">Finalisés</a>
                        <input type="text" style="width: 15%;border: 1px solid;margin-left: 3%;padding-left: 13px;" placeholder="Recherche ..." [(ngModel)]="filtre" name="filtre" id="">
                    </div>
                    <div  id="tab">
                        <table class="table"  style="margin-top:1rem">
                            <thead class="tableTh">
                            <tr>
                              <th scope="col">Nom</th>
                              <th scope="col">Montant</th>
                              <th scope="col">Telephone</th>
                              <th scope="col">Adresse</th>
                              <th scope="col">Date</th>
                              <th scope="col">Rendez-vous</th>
                            </tr>
                          </thead>
                          <tbody>
                          <tr *ngFor="let l of listRecouvremet | filterBy: ['dateEnregistremet','client']: filtre; let i=index">
                              <td ><strong>{{getInfo1(l.client,'prenom')}} {{getInfo1(l.client,'nom')}} </strong></td>
                              <td ><strong>{{getInfo1(l.client,'montant')}}</strong></td>
                              <td ><strong>{{getInfo1(l.client,'telephone')}}</strong></td>
                              <td ><strong>{{getInfo1(l.client,'adresse')}}</strong></td>
                              <td ><strong>{{l.dateEnregistremet}}</strong></td>
                              <td ><strong *ngIf="l.heureRV != null">{{l.heureRV}}</strong><strong *ngIf="l.heureRV == null">-</strong></td>
                          </tbody>
                        </table>
                    </div>
      
                </div>
            </div>
        </div>
        
        <ng-template #template >
            <div class="modal-header">
              <h4 class="modal-title pull-left">Gestion recouvrement DER</h4>
              <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <table class="table table-responsive table-striped">
                <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Montant</th>
                        <th scope="col">Telephone</th>
                        <th scope="col">Adresse</th>
                        <th scope="col">Rendez-vous</th>
                    </tr>
                </thead>
                <tbody>
                    
                  <tr *ngFor="let l of listRecouvremet ; let i=index">
                      <td >{{getInfo1(l.client,'prenom')}} {{getInfo1(l.client,'nom')}} </td>
                      <td >{{getInfo1(l.client,'montant')}}</td>
                      <td >{{getInfo1(l.client,'telephone')}}</td>
                      <td >{{getInfo1(l.client,'adresse')}}</td>
                      <td *ngIf="l.heureRV != null">{{l.heureRV}}</td>
                      <td *ngIf="l.heureRV == null"><strong>-</strong></td>
                
                    </tr>
                  </tbody>
                </table>
            </div>
          </ng-template>
    </div>
</div>