<p></p>
<div class="container col-12"  style="margin: 0%;padding: 0%">
    <div class="panel panel-info">
        <div class="panel panel-heading"></div>
        <div class="panel panel-body">
          <tabset>
            <tab heading="Home">
                <div  id="chart" >
                    <div  style=" width: 650px; height: 400px; text-align: center;padding:0%;margin-left: 20%">
                      <canvas  id="myChart" width="400" height="400"></canvas>
                    </div>
                  </div>
            </tab>
            <tab heading="Liste">
             
              <div class="der-options" style="margin-top: 1rem">
                  <button href="#tab" class="btn btn-primary" (click)="tabTout()" style="margin-left: 8px;border-radius: 1rem 0rem 1rem 1rem;"  data-toggle="tab">Tout</button>
                  <button href="#tab" class="btn btn-primary" (click)="tabRecouvrement()" style="margin-left: 8px;border-radius: 1rem 0rem 1rem 1rem;"  data-toggle="tab">Recouvrement</button>
                  <button href="#tab" class="btn btn-primary" (click)="tabRendezVous()" style="margin-left: 8px;border-radius: 1rem 0rem 1rem 1rem;"  data-toggle="tab">Rendez-vous</button>
                  <button href="#tab" class="btn btn-primary" (click)="tabFinaliser()" style="margin-left: 8px;border-radius: 1rem 0rem 1rem 1rem;"  data-toggle="tab">Finaliser</button>
                  <input type="text" style="width: 15%;border-radius: 2rem 0rem 2rem 2rem;border: 2px solid #36a9e0;margin-left: 3%;" placeholder="Filtrer par nom" [(ngModel)]="filtre" name="filtre" id="">
              </div>
              <div  id="tab">
                  <table class="table"  style="margin-top:1rem">
                      <thead class="thead-dark">
                      <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Montant</th>
                        <th scope="col">Date</th>
                      </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let l of listRecouvremet | filterBy: ['client']: filtre; let i=index">
                        <td ><strong>{{l.client}}</strong></td>
                        <td ><strong>{{l.montant}}</strong></td>
                        <td ><strong>{{l.date}}</strong></td>
                    </tbody>
                  </table>
              </div>
            </tab>

          </tabset>
        </div>
        <ng-template #template>
            <div class="modal-header">
              <h4 class="modal-title pull-left">Gestion remonte</h4>
              <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div>
                   <form  #patientForm="ngForm">
                      <div class="form-group">
                          
                          <ul class="list-group">
                             <strong>Numero</strong> <li class="list-group-item">{{numeroTraiter}}</li>
                             <strong>Montant</strong> <li class="list-group-item">{{montantTraiter}}</li>
                             <strong>date Operation</strong> <li class="list-group-item">{{dateOp}}</li>
                          </ul>
                         <label class="control-label">Reponse</label>
                         <select class="form-control" type="text" name="reponse" required
                         [(ngModel)]="reponse"
                         #name="ngModel"> 
                            <option value="">---------Selectionné--------</option>
                            <option *ngFor="let c of Result" >{{c.etat}}</option>
                        </select> 
                        <div *ngIf="reponse =='Echec'">
                                <label class="control-label">Message</label>
                                <select class="form-control" type="text" name="message" required
                                [(ngModel)]="message"
                                #name="ngModel"> 
                                   <option value="">---------Selectionné--------</option>
                                   <option *ngFor="let c of Echec" >{{c.info}}</option>
                               </select> 
                            </div>   
                      </div>
                     <p></p>
                     <div class="form-group">
                       <input type="submit" class="btn btn-success" value="" (click)="remonter(listRemonte.id);modalRef.hide()" value="Valider">
                      </div>
                    </form>
              </div>
            </div>
          </ng-template>
    </div>
</div>