bntNotClick{
    color: #fff;
    background-color: #ffc107;
    border-color: #007bff;
}
bntClick{
    color: #fff;
    background-color: #007bff;
    border-color: #ffc107;
}
#om-options a:hover{
    color : white ;
    background-color: #007bff;
    text-decoration: none ;
}
myBadge{
    color: white;
    background-color: #041532;
}
myBtnMenu {
    color: #fff;
    background-color: maroon;
    border-color: maroon;
}
#om-options a:focus{
    color : white ;
    background-color: #007bff;
    text-decoration: none ;
}

.tabset > ul{
    background-color: #041532 !important;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{
    color : #686868;
    background-color :#041532;
 }